@import "tailwindcss";

@theme {
  --color-primary: #6366f1; /* Tailwind indigo-500 - primary default */
  --color-primary-50: #eef2ff; /* Tailwind indigo-50 - primary lightest */
  --color-primary-100: #e0e7ff; /* Tailwind indigo-100 - primary 100 */
  --color-primary-200: #c7d2fe; /* Tailwind indigo-200 - primary 200 */
  --color-primary-300: #a5b4fc; /* Tailwind indigo-300 - primary 300 */
  --color-primary-400: #818cf8; /* Tailwind indigo-400 - primary 400 */
  --color-primary-500: #6366f1; /* Tailwind indigo-500 - primary 500 */
  --color-primary-600: #4f46e5; /* Tailwind indigo-600 - primary 600 */
  --color-primary-700: #4338ca; /* Tailwind indigo-700 - primary 700 */
  --color-primary-800: #3730a3; /* Tailwind indigo-800 - primary 800 */
  --color-primary-900: #312e81; /* Tailwind indigo-900 - primary 900 */
  --color-primary-950: #1e1b4b; /* Tailwind indigo-950 - primary darkest */
}
